* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
/* html {
  scroll-behavior: smooth;
  scroll-margin: 7pxs;
} */
body {
  background-image: linear-gradient(
    to top right,
    #f7f7f7,
    #f7f7f7,
    #dfdfdf,
    #f9f9f5,
    #f7f4dd
  );
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
}
/* =============== CONATINER ========== */
.container-grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.transparent {
  width: 100%;
  height: 245rem;
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.377);
  backdrop-filter: blur(3px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: none;
}
/* =========== TOP HEADER  ========== */
.top-header {
  background-color: #e3e6e6;
  height: 50px;
  width: 100%;
  padding: 1rem 3rem;
  grid-column: 1/7;
  display: flex;
  justify-content: space-between;
  color: rgb(83, 83, 83);
}
.login-options {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.pink-text {
  color: rgb(202, 20, 111);
  font-weight: bolder;
}
.login-register {
  text-decoration: none;
  color: rgb(83, 83, 83);
  font-weight: bold;
}
/* ========== BOTTOM HEADER =========== */
.bottom-header {
  height: 70px;
  width: 100%;
  grid-column: 1/7;
  display: flex;
  justify-content: space-between;
}
.bottom-header ~ ul {
  display: flex;
}
/* MAIN LOGO SECTION */
.logo-div {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}
.logo {
  width: 4%;
  padding: 0;
  left: 3rem;
  position: absolute;
}
.blue {
  color: rgb(21, 110, 165);
}
.name {
  position: absolute;
  left: 6.2rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: bolder;
}
.cart-option {
  width: 50%;
  display: flex;
  padding-right: 2rem;
  justify-content: flex-end;
  align-items: center;
  color: rgb(20, 19, 19);
}
/* style the top icons */
.cart-option li,
.herat,
.car-plus,
.cart-option li a {
  padding: 10px 0.7rem;
  color: rgb(83, 83, 83);
}
.cart-option a {
  color: rgb(83, 83, 83);
  font-size: 1.6rem;
  cursor: pointer;
}
.herat,
.car-plus {
  position: relative;
}

.cart-indicate,
.heart-indicate {
  color: rgb(202, 20, 111);
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  left: 0.95rem;
  top: -0.1rem;
  border-radius: 50%;
  padding: 3px;
}
.heart-indicate {
  color: rgb(202, 20, 111);
  font-size: 15px;
  font-weight: bolder;
  position: absolute;
  left: 1.4rem;
  top: 0rem;
  border-radius: 50%;
  padding: 3px;
}
.search-fild {
  padding: 7px;
  width: 30rem;
  border-radius: 15px;
  position: relative;
  border: inherit;
  background-color: rgba(221, 219, 221, 0.933);
  outline: inherit;
}
.fa-search {
  border-radius: 50%;
  position: absolute;
  margin-left: -2rem;
  margin-top: 2px;
  background-color: rgba(221, 219, 221, 0.933);
  font-size: 1.5rem;
  cursor: default;
}
/* =========== NAV ========== */
nav {
  background-color: rgb(221, 219, 221);
  width: 100%;
  grid-column: 1/7;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  padding: 1.3rem 1rem;
}
nav ul li a {
  list-style: none;
  text-decoration: none;
  color: rgb(36, 33, 33);
  transition: 0.8s all ease;
  font-weight: bolder;
  padding: 1.3rem 2rem;
}
nav ul li a:hover {
  background-color: rgb(21, 110, 165);
  color: white;
  border-radius: 3px;
}

/* ========== HERO =============== */
.hero {
  margin-top: 5px;
  height: 100vh;
  width: 100%;
  grid-column: 1/7;
  display: flex;
  padding: 0px 2.2rem;
}
/* ====== MAIN HERO ======== */
.main-hero {
  width: 70%;
  margin-right: 13px;
  position: relative;
}
.mySlides {
  width: 100%;
  height: 100%;
}
/* =====dots========= */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  position: absolute;
  bottom: 5%;
  left: 50%;
  border-radius: 50%;
  display: inline-block;
  z-index: 100;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.hero-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-hero::after {
  content: "";
  background-image: linear-gradient(
    to top left,
    rgba(15, 141, 219, 0.452),
    rgba(15, 151, 235, 0.384),
    rgba(15, 141, 219, 0.332)
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.write-up {
  position: absolute;
  z-index: 70;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 3rem;
  line-height: 2.3rem;
}
.write-up h3 {
  color: white;
  background-color: black;
  font-family: monospace;
  padding: 2px 7px;
  font-size: small;
}
.write-up h1 {
  padding-top: -5rem;
  color: rgb(41, 41, 41);
}
.shp-now {
  padding: 0.8rem 2rem;
  border-radius: 16px;
  outline: none;
  margin-top: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 120;
  transition: 1s all ease;
  background-color: rgb(221, 33, 127);
  box-shadow: 0px 5px 7px 0px rgba(000, 000, 000, 0.3);
}
.shp-now:active {
  transform: translateY(1rem);
  box-shadow: 0px 0.7rem 5px 0px rgba(000, 000, 000, 0.3);
}
/* =========ASIDE =============== */
aside {
  /* background-color: #003049; */
  width: 30%;
  display: flex;
  flex-direction: column;
}
.aside-top {
  width: 100%;
  height: 50%;
  margin-bottom: 13px;
  position: relative;
  overflow: hidden;
}
.aside-top::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.39);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.writeup {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 50;
}
.writeup h3 {
  padding: 6px 0px 2px 0px;
  /* color: rgb(201, 14, 107); */
  color: black;
  background: inherit;
  background-clip: text;
  font-size: 1.2rem;
}
.btn1 {
  display: inline-block;
  margin-top: 1rem;
}
.btn1 a {
  text-decoration: none;
  display: inline-block;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 4px 7px;
  cursor: pointer;
  transition: all 0.5s;
}
.btn1 a:active {
  transform: translateY(15%);
}
.aside-bottom {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
}
.aside-bottom::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.39);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.writeup2 {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 50;
  color: white;
}
.writeup2 h1 {
  font-size: 2rem;
}
.writeup2 p {
  font-size: 1rem;
  font-family: monospace;
  letter-spacing: 5px;
}

/* sub heading */
.sub-head {
  height: 30px;
  width: 100%;
  grid-column: 1/7;
  text-align: center;
  padding: 0.2rem 0rem 3rem 0rem;
  color: rgb(36, 33, 33);
}
.bottom-line {
  width: 4%;
  margin: auto;
  padding: 1px;
  margin-top: 5px;
  background-color: rgb(202, 20, 111);
}
/* =========== FIRST SECTION =========== */
.first {
  height: 400px;
  width: 93%;
  margin: auto;
  grid-column: 1/7;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 0rem 0px;
  /* position: relative; */
}
/* PRODUCT DIV */
.product-display {
  width: 24%;
  height: 350px;
  position: relative;
  background-color: white;
  padding: 0px 0px 1.5rem 0px;
}
.product-display:hover {
  margin-top: -5px;
}
.product-info {
  background-color: white;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
}
/* IMAGE STYLING */
.product {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.percent {
  position: absolute;
  padding: 0.3rem;
  background-color: rgb(202, 20, 111);
  color: #fefe;
  right: 0rem;
}
.btn-add-to-cart {
  display: flex;
  justify-content: center;
}
.btn-add-to-cart a {
  background-color: rgb(202, 20, 111);
  color: #fefefe;
  display: inline-block;
  padding: 0.4rem 1.2rem;
  margin: 0.3rem 0rem;
  border-radius: 12px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  box-shadow: 0px 0px 0.3rem 3px rgba(0, 0, 0, 0.39);
  transition: 0.5s all ease;
  opacity: 0;
}
.like {
  padding-left: 5px;
  padding-top: 5px;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s all ease;
}
.product-display:hover .btn-add-to-cart a {
  opacity: 1;
}
.product-display:hover .like {
  opacity: 1;
}
.btn-add-to-cart a:active {
  transform: translateY(15%);
  box-shadow: 0px 1px 20px 7px rgba(000, 000, 000, 0.3);
}
.checked {
  color: gold;
  padding: 0px 5px;
}
.not-checked {
  color: rgb(209, 206, 206);
}
.price {
  letter-spacing: 1px;
  padding: 5px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.discount {
  text-decoration: line-through;
  color: rgb(190, 189, 189);
  letter-spacing: 1px;
  font-size: 13px;
}
.sub-head-2 {
  height: 30px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  grid-column: 1/7;
  text-align: center;
  padding: 0.2rem 0rem 3rem 0rem;
  color: rgb(36, 33, 33);
}

/* =========== SECOND SECTION ============ */
.second {
  /* background-color: #6e2f44; */
  height: 400px;
  max-width: 93%;
  margin: auto;
  grid-column: 1/7;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 1rem 0px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

/* =========== THIRD SECTION ======= */
.third {
  background-color: #067ceb67;
  height: 250px;
  max-width: 93%;
  margin: auto;
  padding: 1rem;
  grid-column: 1/7;
  margin-bottom: 10px;
  position: relative;
}
.ads {
  width: 30%;
  /* height: 100%; */
  object-fit: cover;
  float: right;
}
.ads-2 {
  width: 25%;
  /* height: 100%; */
  object-fit: cover;
  float: left;
}
.ads-write {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.excu {
  letter-spacing: 3px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 1rem;
  margin-top: -2rem;
}
.ads-perce {
  background-color: rgb(236, 28, 132);
  color: #fefefe;
  padding: 20px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bolder;
  border-radius: 50%;
  margin-top: 10px;
}

/* ============= FOURTH SECTION ======= */
.fourth {
  height: 47rem;
  max-width: 93%;
  grid-column: 1/7;
  margin: 0px auto 10px auto;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
.left {
  width: 38%;
  position: relative;
  height: 100%;
}
.right {
  width: 57%;
  height: 40rem;
  /* height: 650px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.product-sng {
  width: 100%;
  /* height: 100%;
  object-fit: cover; */
}
.product-sng2 {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.product-info-fourth {
  text-align: center;
}

.rights {
  width: 100%;
  height: 23rem;
  position: relative;
}
.fifth {
  height: 33rem;
  max-width: 100%;
  grid-column: 1/7;
  margin: 0px auto 1px auto;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
.shirts {
  width: 24%;
  height: 90%;
  object-fit: cover;
}
.product-sng3 {
  width: 100%;
  height: 75%;
}

.newsletter {
  grid-column: 1/7;
  width: 100%;
  height: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 3rem;
  text-align: center;
}
.newsletter input {
  width: 40%;
  padding: 10px 12px;
  border-radius: 4px;
  outline: none;
  border: 1px solid grey;
}
.newsletter button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  outline: none;
  box-shadow: 0px 1px 20px 7px rgba(000, 000, 000, 0.3);
  border: 1px solid black;
  transition: 0.5s all ease;
}
.newsletter button:hover {
  opacity: 0.8;
}
.newsletter button:active {
  transform: translateY(15%);
  box-shadow: 0px 1px 20px 7px rgba(000, 000, 000, 0.5);
}
footer {
  /* height: 200px; */
  max-width: 100%;
  grid-column: 1/7;
  background-color: rgb(20, 20, 20);
  margin-top: 0rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}
footer a {
  text-decoration: none;
  color: white;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: auto;
  padding: 1rem 0rem;
  color: rgb(196, 195, 195);
}
.social-media {
  display: flex;
  justify-content: center;
}
footer .fa {
  padding: 20px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  margin: 3px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.copyriht {
  text-align: center;
  color: white;
  padding: 2rem;
}

.icons {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.payment {
  display: flex;
  justify-content: space-between;
}
.main-container {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 500;
  padding: 4rem 0rem;
  display: none;
}
.cart-container {
  background-image: linear-gradient(
    to top right,
    #f7f7f7,
    #f7f7f7,
    #dfdfdf,
    #f9f9f5,
    #f7f4dd
  );
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 90%;
  margin: auto;
  grid-column: 1/7;
  top: 0%;
  left: 0%;
  z-index: 120;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding: 1.5rem 0.2rem;
  border-radius: 7px;
  overflow-y: scroll;
}
.close-btn-cart {
  position: absolute;
  right: 0%;
  top: 0%;
  border: solid 1px rgb(102, 102, 102);
  padding: 10px 15px;
  border-radius: 7px;
  cursor: pointer;
}
.close-btn-cart:hover {
  background-color: rgb(224, 224, 224);
}
.cart-container > h1 {
  text-align: center;
}
.sub-cart-container-flex {
  width: 100%;
  margin: auto;
  display: flex;

  justify-content: space-between;
  padding: 2rem;
}
.cart-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
/* ====== MAIN PRODUCT LANDING ======== */
.flext-title {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 2rem 1rem 1rem 3rem;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.product-title {
  flex: 3;
}
.quantity-title,
.price-title,
.remove-title {
  flex: 1;
}
.main-product-landing {
  width: 70%;
}
.priceAnalysis {
  margin-top: 5rem;
  width: 29%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: rgb(77, 76, 76);
  box-shadow: 0px 0px 7px 0px rgba(000, 000, 000, 0.3);
  border-radius: 10px;
  opacity: 0;
}
.priceAnalysis h1 {
  text-align: center;
  padding: 0.5rem;
}
.product-description {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 7px 0px rgba(000, 000, 000, 0.3);
  border-radius: 10px;
  margin-top: 1rem;
  color: rgb(77, 76, 76);
}
#quantity {
  width: 50px;
  padding: 10px;
  margin-top: 5rem;
  transform: translateX(26%);
  text-align: center;
}
.close-btn {
  width: 10%;
}
.close-btn h5 {
  width: 17px;
  height: 17px;
  margin: 5rem 3.5rem;
  text-align: center;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgb(179, 178, 178) solid 1px;
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}

.price h5 {
  margin-left: 2rem;
  margin-top: 5rem;
  width: 17px;
  height: 17px;
}
#quantity,
.price,
.close-btn {
  flex: 1;
}
.real-product {
  display: flex;
  flex: 3;
}
.product-name {
  padding: 3rem 2rem;
}
/* =========ASIDE =============== */

.sub-head-cart {
  height: 30px;
  width: 100%;
  grid-column: 1/7;
  text-align: center;
  padding: 5rem;
  color: rgb(36, 33, 33);
}

.subtotal,
.shipping,
.cupon,
.total {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.total {
  font-weight: bolder;
}
.order-btn {
  margin-top: 4rem;
  background-color: rgb(202, 20, 111);
  border-radius: 9px;
  padding: 1rem;
  color: white;
  outline: none;
  box-shadow: 0px 5px 7px 0px rgba(000, 000, 000, 0.3);
  border: none;
  cursor: pointer;
  transition: 1s all ease;
}
.order-btn:active {
  transform: translateY(1rem);
  box-shadow: 0px 1rem 7px 0px rgba(000, 000, 000, 0.3);
}
